@font-face {
    font-family:"qlassik";
    src: url("fonts/QlassikBold_TB.ttf");
}

body {
    background: url(images/body-bg.jpg) repeat #f4f0e6;
}
.line {
    background: url(images/line-color-divider.png) repeat-x;
    width: 100%;
    height: 3px;
    margin-top: 28px;
    float: left;
}
.logo {
    width: 218px;
}
#header {
    font-family: qlassik;
}
.divider-1 {
    background: url(images/header-text-separator.png) no-repeat;
    width: 210px;
    height: 22px;
    margin: 30px auto;
}
 a {
    color: #a7695e;
    text-decoration: none;
    cursor: pointer;
 }
 a:hover {
     text-decoration: none;
     color: darkorange;
 }
 h3 {
    text-transform: uppercase;
 }
 .button-1 {
    background: url(images/calltoaction-btn.png) no-repeat 0 0;
    width: 220px;
    height: 45px;
    float: left;
 }

 .button-1:hover {
    background: url(images/calltoaction-btn.png) no-repeat 0 -75px;
 }
 .button-1 a {
    font-size: 22px;
    color: #763238;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 10px;
    display: block;
    cursor: pointer !important;
}

#carousel1 {
    box-shadow: darkgray 0 0 10px;
}
.header-text {
    font-family: qlassik;
    text-transform: uppercase;
    font-size: 1.5rem;
    white-space: nowrap;
    padding-right: 8px;
}
.header-line {
    width: 100%;
    background: url("images/heading-bg.png") repeat-x 0 17px;
}
.meal-title {
    font-family: qlassik;
}
.price {
    font-family: qlassik;
    font-size: 1.3rem;
    color: #a7695e;
}
ul.bullet li {
    background: url("images/bullet.png") no-repeat 0 9px;
    padding-left: 20px;
    line-height: 2em;
    list-style: none;
    display: block;
}
ul.bullet {
    padding:0;
}
.gallery  {
    text-align: center;
}
.thumb {
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: darkgray 0 0 10px;

}
